{% extends 'patients/base.html' %}
{% block innerbody %}
<h1 class="display-3 text-white">
	{% if 'new'	in request.path %}
	New Record
	{% else %}
	Edit Record
	{% endif %}
</h1>

{% if form.errors %}
  <ul>
    {% for key,value in form.errors.items %} 
      <li>{{ key|escape }} : {{ value|escape }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="post">{% csrf_token %}
	<!-- <table>
		{{ form.as_table }}
	</table> -->
	<input class="form-control" type="text" name="patient" maxlength="100" required id="id_patient" placeholder="Patient" value="{{ patient.id }}" hidden />
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="form-group">
				<label class="form-label">
					<input class="form-control" type="text" name="name" maxlength="100" required id="id_name" placeholder=" " value="{{ patient }}" disabled />
					<span class="label-span">Name</span>
        		</label>
			</div>
		</div>
			
		<div class="col-6 col-md-4">
			<div class="form-group">
		    	<label class="form-label">
		    		<input class="form-control datepicker" placeholder=" " type="text" name="visit_date" required id="id_visit_date" autocomplete="off" 
			    	{% if record.visit_date %}
			    	value="{{ record.visit_date }}"
			     	{% endif %}
			     	/>
		     		<span class="label-span">Visit Date</span>
    			</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-6 col-md-4">
			<div class="form-group">
				<label class="form-label">
					<input class="form-control" type="number" name="bp" id="id_bp" placeholder=" " required autocomplete="off"  
				    {% if record.bp %}
				    value="{{ record.bp }}"
				    {% endif %}
				    />
				    <span class="label-span">BP</span>
    			</label>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="form-group">
				<label class="form-label">
					<input class="form-control" type="number" name="fh" id="id_fh" placeholder=" " required autocomplete="off" 
				    {% if record.fh %}
				    value="{{ record.fh }}"
				    {% endif %}
				    />
				 	<span class="label-span">FH</span>
    			</label>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="form-group">
				<label class="form-label">
					<input class="form-control" type="number" name="fht" id="id_fht" placeholder=" " required autocomplete="off" 
				    {% if record.fht %}
				    value="{{ record.fht }}"
				    {% endif %}
				    />
				    <span class="label-span">FHT</span>
    			</label>
			</div>
		</div>
	</div>

<div class="row">
	<div class="col-6 col-md-4">
		<div class="form-group">
			<label class="form-label">
		    	<input class="form-control datepicker" placeholder=" " type="text" name="lmp" required id="id_lmp" autocomplete="off" 
		    	{% if record.lmp %}
		    	value="{{ record.lmp }}"
		     	{% endif %}
		     	/>
		     	<span class="label-span">LMP</span>
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-4">
		<div class="form-group">
			<button type="button" id="Compute" class="btn btn-primary" >Compute EDC/AOG</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6 col-md-4">
		<div class="form-group">
			<label class="form-label">
		    	<input class="form-control datepicker" placeholder=" " type="text" name="edc" required id="id_edc" autocomplete="off" 
		    	{% if record.edc %}
		    	value="{{ record.edc }}"
		     	{% endif %}
		     	/>
		     	<span class="label-span">EDC</span>
			</label>
		</div>
	</div>
	<div class="col-6 col-md-4">
		<div class="form-group">
			<label class="form-label">
				<input class="form-control" type="number" name="aog" id="id_aog" placeholder=" " required step="0.01"   
			    {% if record.aog %}
			    value="{{ record.aog }}"
			    {% endif %}
			    />
			    <span class="label-span">AOG</span>
			</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="form-label">
				<textarea class="form-control" type="text" name="diagnosis" maxlength="1000" rows=4 id="id_diagnosis" placeholder=" " autocomplete="off" required >{% if record.diagnosis %}{{ record.diagnosis }}{% endif %}</textarea>
				<span class="label-span">Diagnosis</span>
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="form-label">
  				<textarea class="form-control" type="text" name="medication" maxlength="1000" rows=4 id="id_medication" placeholder=" " autocomplete="off" required >{% if record.medication %}{{ record.medication }}{% endif %}</textarea>
  				<span class="label-span">Medication</span>
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-4">
		<div class="form-group">
			<label class="form-label">
		    	<input class="form-control datepicker" placeholder=" " type="text" name="return_date" required id="id_return_date" autocomplete="off" 
		    	{% if record.return_date %}
		    	value="{{ record.return_date }}"
		     	{% endif %}
		     	/>
		     	<span class="label-span">Return Date</span>
			</label>
		</div>
	</div>
</div>
	<button type="submit" class="btn btn-primary" value="Submit" />
	    <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
			<span class="btn-inner--text">Submit</span>
	</button>
	<button type="button" id="CancelButton" class="btn btn-warning">Cancel</button>
</form>

<script type="text/javascript">
    var lmpInput = document.getElementById('id_lmp');
	// var edcInput = document.getElementById('id_edc');
	var visitDateInput = document.getElementById('id_visit_date');
    document.getElementById("Compute").onclick = function () {
		// alert("Solving the AOG...");
		var oneDay = 24*60*60*1000;
		var edcDays = 24*60*60*1000*280;
		var options = { day:'numeric', month:'numeric', year:'numeric' };
		// alert(Date.parse(edcInput.value));
		var edc = new Date(Date.parse(lmpInput.value) + edcDays);
		edcFix = ('0' + (edc.getMonth()+1)).slice(-2) + '/' + ('0' + edc.getDate()).slice(-2) + '/' + edc.getFullYear();
		document.getElementById("id_edc").value = edcFix;
		// var aog = (Math.round(Math.abs((edcFix.getTime() - Date.parse(visitDateInput.value))/(oneDay))));
		// alert(Date.parse(visitDateInput.value));
		var aog = (Math.round(Math.abs(Date.parse(edcFix) - Date.parse(visitDateInput.value))/(oneDay)));
		aog = Math.round((aog/7)*10) / 10
		// alert(aog);
		// document.getElementById("id_edc").value = edc.toISOString().slice(0,10);
		document.getElementById("id_aog").value = aog;
	}
</script>

{% if 'new' in request.path %}
<script type="text/javascript">
    document.getElementById("CancelButton").onclick = function () {
        location.href = "{% url 'records:index' patient.id %}";
    };
</script>
{% else %}
<script type="text/javascript">
    document.getElementById("CancelButton").onclick = function () {
        location.href = "{% url 'records:show' patient.id record.id %}";
    };
</script>
{% endif %}

{% endblock %}