{% for record in record_list %}
<!-- <a href="/patients/{{ record.patient.id }}/records/{{ record.id }}">{{ record }}</a> -->
{% endfor %}

<h1>Records of {{ patient.name }}</h1>

<table border="1">
	<thead>
		<tr>
			<th>Visit Date</th>
			<th>View</th>
		</tr>
	</thead>
	<tbody>
		{% for record in record_list %}
		<tr>
			<td>{{ record.visit_date }}</td>
			<td><a href="{% url 'records:show' patient.id record.id %}">view</a></td>
			<!-- <td><a href="{% url 'records:edit' patient.id record.id %}">edit</a></td> -->
    		<!-- <td><a href="{% url 'patients:delete' patient.id %}">delete</a></td> -->
    	</tr>
    	{% endfor %}
	</tbody>
</table>

<button id="NewButton" class="float-left submit-button" >Add New Record</button>

<script type="text/javascript">
    document.getElementById("NewButton").onclick = function () {
        location.href = "{% url 'records:new' patient.id %}";
    };
</script>