{% extends 'patients/base.html' %}
{% block innerbody %}
<h1 class="display-3 text-white">Record Details</h1>
<div class="table text-white">
	<table>
		<tr>
			<td colspan="2">Name: {{ patient.name }}</td>
			<td colspan="3">Visit Date: {{ record.visit_date }}</td>
		</tr>
		<tr>
			<td>BP: {{ record.bp }}</td>
			<td>FH: {{ record.fh }}</td>
			<td>FHT: {{ record.fht }}</td>
		</tr>
		<tr>
			<td>LMP: {{ record.lmp }}</td>
		</tr>
		<tr>
			<td>EDC: {{ record.edc }}</td>
			<td>AOG: {{ record.aog }}</td>
		</tr>
		<tr>
			<td>Diagnosis: {{ record.diagnosis }}</td>
		</tr>
		<tr>
			<td>Medication: {{ record.medication }}</td>
		</tr>
		<tr>
			<td>Return Date: {{ record.return_date }}</td>
		</tr>
	</table>
</div>
<button id="EditButton" class="btn btn-primary" >Edit</button>
<button id="DeleteButton" class="btn btn-warning" >Delete</button>
<button id="ViewAllButton" class="btn btn-icon btn-3 btn-primary" type="button">
	<span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
	<span class="btn-inner--text">View All Records</span>
</button>

<script type="text/javascript">
    document.getElementById("EditButton").onclick = function () {
        location.href = "{% url 'records:edit' patient.id record.id %}";
    };
    document.getElementById("DeleteButton").onclick = function () {
        location.href = "{% url 'records:delete' patient.id record.id %}";
    };
    document.getElementById("ViewAllButton").onclick = function () {
        location.href = "{% url 'records:index' patient.id %}";
    };
</script>
{% endblock %}