{% extends 'patients/base.html' %}
{% block innerbody %}
<h1>
	{% if 'new'	in request.path %}
	New Patient
	{% else %}
	Edit Patient
	{% endif %}
</h1>
<form method="post">{% csrf_token %}
	<!-- {{ form.as_p }} -->
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" name="name" maxlength="100" required id="id_name" placeholder="Name"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control date-picker" type="date" name="birth_date" required id="id_birth_date" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select name="sex" class="custom-select" required id="id_sex">
          <option value="" selected>Sex</option>

          <option value="MALE">Male</option>

          <option value="FEMALE">Female</option>

        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select name="status" class="custom-select" required id="id_status">
          <option value="" selected>Status</option>

          <option value="SINGLE">Single</option>

          <option value="MARRIED">Married</option>

          <option value="WIDOWED">Widowed</option>

          <option value="DIVORCED">Divorced</option>

          <option value="SEPARATED">Separated</option>
      </select>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input class="form-control" type="text" name="address" maxlength="200" id="id_address" placeholder="Address" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="number" name="g" id="id_g" placeholder="G" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="number" name="p" id="id_p" placeholder="P" />
      </div>
    </div>
  </div>
   
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
         <input class="form-control" type="number" name="a1" id="id_a1" placeholder="A1"/>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
         <input class="form-control" type="number" name="a2" id="id_a2" placeholder="A2"/>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
         <input class="form-control" type="number" name="a3" id="id_a3" placeholder="A3"/>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
         <input class="form-control" type="number" name="a4" id="id_a4" placeholder="A4"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" name="phone" maxlength="20" id="id_phone" placeholder="Phone"/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" name="religion" maxlength="50" id="id_religion" placeholder="Religion"/>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
    <div class="form-group">
      <input class="form-control" type="text" name="operations_history" maxlength="1000" id="id_operations_history" placeholder="Operations History"/>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <div class="form-group">
      <textarea class="form-control" type="text" name="allergies_history" maxlength="1000" rows=4 id="id_allergies_history" placeholder="Allergies History"></textarea>
    </div>
    </div>
  </div>
	<button type="submit" class="btn btn-primary" value="Submit" />Submit</button>
</form>

{% endblock %}