{% extends 'patients/base.html' %}
{% block innerbody %}
<h1 class="display-3 text-white">
	{% if 'new'	in request.path %}
	New Patient
	{% else %}
	Edit Patient
	{% endif %}
</h1>
<form method="post">{% csrf_token %}
	<!-- {{ form.as_p }} -->
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" name="name" maxlength="100" required id="id_name" placeholder="Name" autocomplete="off" 
        {% if patient.id %}
        value="{{ patient.name }}"
        {% endif %}
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
          </div>
          <input class="form-control datepicker" placeholder="Birthdate" type="text" name="birth_date" required id="id_birth_date" autocomplete="off" 
          {% if patient.birth_date %}
          value="{{ patient.birth_date }}"
          {% endif %}
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select name="sex" class="custom-select" required id="id_sex">
          <option value="" selected>Sex</option>
          <option value="MALE"
          {% if patient.sex == "male" %}
          selected
          {% endif %}
          >Male</option>
          <option value="FEMALE"
          {% if patient.sex == "female" %}
          selected
          {% endif %}
          >Female</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select name="status" class="custom-select" required id="id_status">
          <option value="" selected>Status</option>
          <option value="SINGLE">Single</option>
          <option value="MARRIED">Married</option>
          <option value="WIDOWED">Widowed</option>
          <option value="DIVORCED">Divorced</option>
          <option value="SEPARATED">Separated</option>
      </select>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input class="form-control" type="text" name="address" maxlength="200" id="id_address" placeholder="Address" autocomplete="off" 
        {% if patient.address %}
        value="{{ patient.address }}"
        {% endif %}
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="number" name="g" id="id_g" placeholder="G" required autocomplete="off" 
        {% if patient.g %}
        value="{{ patient.g }}"
        {% endif %}
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="number" name="p" id="id_p" placeholder="P" required autocomplete="off" 
        {% if patient.p %}
        value="{{ patient.p }}"
        {% endif %}
        />
      </div>
    </div>
  </div>
   
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control" type="number" name="a1" id="id_a1" placeholder="A1" 
        {% if patient.a1 %}
        value="{{ patient.a1 }}"
        {% endif %}
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
         <input class="form-control" type="number" name="a2" id="id_a2" placeholder="A2" 
         {% if patient.a2 %}
        value="{{ patient.a2 }}"
        {% endif %}
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control" type="number" name="a3" id="id_a3" placeholder="A3" autocomplete="off" 
         {% if patient.a3 %}
        value="{{ patient.a3 }}"
        {% endif %}
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control" type="number" name="a4" id="id_a4" placeholder="A4" autocomplete="off" 
        {% if patient.a4 %}
        value="{{ patient.a4 }}"
        {% endif %}
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" name="phone" maxlength="20" id="id_phone" placeholder="Phone" autocomplete="off" 
        {% if patient.phone %}
        value="{{ patient.phone }}"
        {% endif %}
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" name="religion" maxlength="50" id="id_religion" placeholder="Religion" autocomplete="off" 
        {% if patient.religion %}
        value="{{ patient.religion }}"
        {% endif %}
        />
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
    <div class="form-group">
      <textarea class="form-control" type="text" name="operations_history" maxlength="1000" rows=4 id="id_operations_history" placeholder="Operations History" autocomplete="off" >{% if patient.operations_history %}{{ patient.operations_history }}{% endif %}</textarea>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <div class="form-group">
      <textarea class="form-control" type="text" name="allergies_history" maxlength="1000" rows=4 id="id_allergies_history" placeholder="Allergies History" autocomplete="off" >{% if patient.allergies_history %}{{ patient.allergies_history }}{% endif %}</textarea>
    </div>
    </div>
  </div>
	<button type="submit" class="btn btn-primary" value="Submit" />Submit</button>
  <button type="button" id="CancelButton" class="btn btn-warning">Cancel</button>
</form>

<script type="text/javascript">
    document.getElementById("CancelButton").onclick = function () {
        location.href = "{% url 'patients:show' patient.id %}";
    };
</script>

{% endblock %}