{% extends 'patients/base.html' %}
{% block innerbody %}
<h1 class="display-3 text-white">Patient Details</h1>

<div class= "table text-white">
    <table>
        <tr>
            <td colspan="2">Name: {{ patient.name }}</td>
        </tr>
        <tr>
            <td>Age: {{ patient.get_age }}</td>
            <td>Sex: {{ patient.sex }}</td>
            <td>Status: {{ patient.status }}</td>
        </tr>
        <tr>
            <td colspan="4">Address: {{ patient.address }}</td>
        </tr>
        <tr>
            <td>G: {{ patient.g }}</td>
            <td>P: {{ patient.p }}</td>
        </tr>
        <tr>
            <td>A: {{ patient.a1 }} - {{ patient.a2 }} - {{ patient.a3 }} - {{ patient.a4 }}</td>
        </tr>
        <tr>
            <td colspan="2">Phone: {{ patient.phone }}</td>
        </tr>
        <tr>
            <td colspan="2">Religion: {{ patient.religion }}</td>
        </tr>
        <tr>
            <td colspan="4">Operations History: {{ patient.operations_history }}</td>
        </tr>
        <tr>
            <td colspan="4">Allergies History: {{ patient.allergies_history }}</td>
        </tr>
    </table>
</div>

<button id="EditButton" class="btn btn-primary" >Edit</button>
<button id="DeleteButton" class="btn btn-warning" >Delete</button>
<button id="ViewRecordsButton" class="btn btn-icon btn-3 btn-primary" type="button">
    <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
    <span class="btn-inner--text">View Records</span>
</button>

<script type="text/javascript">
    document.getElementById("EditButton").onclick = function () {
        location.href = "{% url 'patients:edit' patient.id %}";
    };
    document.getElementById("DeleteButton").onclick = function () {
        location.href = "{% url 'patients:delete' patient.id %}";
    };
    document.getElementById("ViewRecordsButton").onclick = function () {
        location.href = "{% url 'records:index' patient.id %}";
    };
</script>
{% endblock %}