{% extends 'patients/base.html' %}
{% block innerbody %}
<h1>Patient Details</h1>
<div class= "table table-light">
    <table>
        <tr>
            <td>Name: {{ patient.name }}</td>
        </tr>
        <tr>
            <td>Birthdate: {{ patient.birth_date }}</td>
        </tr>
        <tr>
            <td>Age: {{ patient.get_age }}</td>
        </tr>
        <tr>
            <td>Sex: {{ patient.sex }}</td>
        </tr>
        <tr>
            <td>Status: {{ patient.status }}</td>
        </tr>
        <tr>
            <td>Address: {{ patient.address }}</td>
        </tr>
        <tr>
            <td>G: {{ patient.g }}</td>
        </tr>
        <tr>
            <td>P: {{ patient.p }}</td>
        </tr>
        <tr>
            <td>A: {{ patient.a1 }} - {{ patient.a2 }} - {{ patient.a3 }} - {{ patient.a4 }}</td>
        </tr>
        <tr>
            <td>Phone: {{ patient.phone }}</td>
        </tr>
        <tr>
            <td>Religion: {{ patient.religion }}</td>
        </tr>
        <tr>
            <td>Operations History: {{ patient.operations_history }}</td>
        </tr>
        <tr>
            <td>Allergies History: {{ patient.allergies_history }}</td>
        </tr>
    </table>
</div>

<button id="EditButton" class="btn btn-primary" >Edit</button>
<button id="DeleteButton" class="btn btn-primary" >Delete</button>
<button id="ViewRecordsButton" class="btn btn-primary" >View Records</button>
<button id="ViewAllPatientsButton" class="btn btn-primary" >View All Patients</button>

<script type="text/javascript">
    document.getElementById("EditButton").onclick = function () {
        location.href = "{% url 'patients:edit' patient.id %}";
    };
    document.getElementById("DeleteButton").onclick = function () {
        location.href = "{% url 'patients:delete' patient.id %}";
    };
    document.getElementById("ViewRecordsButton").onclick = function () {
        location.href = "{% url 'records:index' patient.id %}";
    };
    document.getElementById("ViewAllPatientsButton").onclick = function () {
        location.href = "{% url 'patients:patients' %}";
    };
</script>
{% endblock %}